<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mobile.website.dao.StrongTestResultMapper">

	<resultMap type="strongResult" id="resultTaskDetailMap">
		<result property="id" column="id"/>
		<result property="taskId" column="task_id"/>
		<result property="picturePath" column="picture_path"/>
		<result property="crashPath" column="crash_path"/>
		<result property="crashDetail" column="crash_detail"/>
	</resultMap>
		
		
		

	<select id="getAll" resultMap="resultTaskDetailMap">
		select t.*,s.*,w.* from test_task t,scheme s,weight_config w where t.scheme_id = s.id and t.weightconfig_id = w.id
	</select>
	<select id="getTestTaskById" resultMap="resultTaskDetailMap">
		select t.*,s.*,w.* from test_task t,scheme s,weight_config w where t.id = #{id} and t.scheme_id = s.id and t.weightconfig_id = w.id
	</select>
	
	<select id="getStrongResultByTaskId" resultType="com.test.mobile.website.bean.StrongResult">
		select id,task_id,picture_path,crash_path,crash_detail from strong_result r where r.task_id=#{taskId}
	</select>

	<select id="getMaxId" resultType="java.lang.Integer">
		select max(id) from strong_result
	</select>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.test.mobile.website.bean.StrongResult">
		insert into
		strong_result(task_id,picture_path,crash_path,crash_detail)
		values(#{taskId},#{picturePath},#{crashPath},#{crashDetail})
	</insert>


	<update id="updateState" parameterType="com.test.mobile.website.bean.TestTask">
		update test_task set state = #{state} where id = #{id}
	</update>



	<!-- <delete id="deleteWhiteListById"> delete from white_list where id = 
		#{id} </delete> -->

</mapper>