<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mobile.website.dao.WeightConfigMapper">

	<!-- public void add(Task task); public List<Task> getTaskByUserId(Integer 
		userId); public List<Task> getAll(); -->

	<select id="getAll" resultType="com.test.mobile.website.bean.WeightConfig">
		select
		id,del,change_type,change_value,empty as emptyValue from weight_config order by id desc
	</select>


	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.test.mobile.website.bean.WeightConfig">
		insert into
		weight_config(del,change_type,change_value,empty,json_str)
		values(#{del},#{changeType},#{changeValue},#{emptyValue},#{jsonStr})
	</insert>


	<!-- <delete id="deleteWhiteListById"> delete from white_list where id = 
		#{id} </delete> -->

</mapper>